@import "./Dropdown.base";

.dropdown-item {
  color: $dropdown-item-color;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  position: relative;
}

a.dropdown-item,
button.dropdown-item {
  padding-right: 3rem;
  text-align: left;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background-color: $dropdown-item-hover-background-color;
    color: $dropdown-item-hover-color;
  }

  &.is-active {
    background-color: $dropdown-item-active-background-color;
    color: $dropdown-item-active-color;
  }
}
