@import "./Menu.base";

.menu-label {
  color: $menu-label-color;
  font-size: $size-small;
  padding: $menu-label-padding;

  &:not(:first-child) {
    margin-top: 2 * $menu-item-padding-vertical;
  }
}
