@import './Card.base';

.card-footer {
  background-color: $card-footer-background-color;
  border-top: $card-footer-border-top;
  align-items: stretch;
  display: flex;
  padding: $card-content-padding;

  &-item {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;

    &:not(:last-child) {
      border-right: $card-footer-border-top;
    }
  }
}
