@import './Card.base';

.card-operations {
  background-color: $card-operation-background-color;
  align-items: stretch;
  justify-content: space-between;
  display: flex;
  padding: $card-operation-padding;

  .button {
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1;
    font-size: $size-normal;
    font-weight: $weight-semibold;
    border-width: px(2);

    &:not(:last-child) {
      margin-right: $padding;
    }

    &.is-fullwidth {
      margin: 0;

      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
