@import './Card.base';

.card-header {
  background-color: $card-header-background-color;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: $card-header-shadow;
  display: flex;
  padding: $card-header-padding;

  &.is-centered {
    justify-content: center;

    .card-header-icon {
      padding-left: 0;
    }
  }

  &-title {
    align-items: center;
    color: $card-header-color;
    display: flex;
    font-weight: $card-header-weight;
  }
  &-addon {
    align-items: center;
    display: flex;
  }
  &-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
}
