@import './Card.base';

.card-field-group {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: $card-field-padding;

  &--evenly {
    justify-content: space-evenly;
  }

  &:not(:first-child) {
    margin-top: $card-field-margin-vertical;
  }

  .card-field {
    flex-grow: 1;
    margin-top: 0;
    width: 100%;
    padding: 0;

    &:not(:first-child) {
      margin-left: $card-field-margin-horizontal;
    }

    &__label {
      min-width: inherit;
      margin-right: 0.333em;
    }

    &--vertical {
      .card-field__label {
        min-width: inherit;
        margin-right: inherit;
      }
    }
  }

}
