@import './Card.base';

.card-field-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &--evenly {
    justify-content: space-evenly;
  }

  &:not(:first-child) {
    margin-top: $card-field-margin-vertical;
  }

  .card-field {

    &:not(:first-child) {
      margin-left: $card-field-margin-horizontal;
    }

    &__label {
      min-width: inherit;
      margin-right: 0.333em;
    }

    &--vertical {
      .card-field__label {
        min-width: inherit;
        margin-right: inherit;
      }
    }
  }

}
