@import "./Modal.base";

.modal-content {

  .card {
    display: flex;
    flex-direction: column;
    min-width: $modal-content-width;

    &-header {
      flex-shrink: 0;
    }

    &-content {
      flex-grow: 1;
      overflow: auto;

      min-height: 0; // for Firefox
    }

    &-operations {
      flex-shrink: 0;

      .button {
        &.is-fullwidth {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }

}
