@import "../../scss/utils";

.title-bar {
  @extend %is-layout-header;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  &-title {
    width: 100%;
    font-size: $size-medium;
    text-align: center;
  }

  &-addon {
    position: absolute;

    &.is-left {
      left: 0;
    }

    &.is-right {
      right: 0;
    }
  }
}
